<div id = 'game'>
<%if @show_everything%>
<div class = "well">
  <h5>Dealer Cards <%if @stay%>
The dealer has <%=calculate_total(session[:dealer_cards])%>
<%end%></h5>
  <%if !@stay%>
  <img src='/images/cards2/cover.png' class = 'card_image2'>
  <%=card_image(session[:dealer_cards][1])%>
<%end%>
<%if @stay%>
  <%session[:dealer_cards].each do |card|%>
  <%=card_image(card)%>
<%end%>
<%end%>
</div>
<div class = "well" id = 'player_area'>
  <h5>Player Cards Your total is <%=calculate_total(session[:player_cards])%>.
</h5>
<%session[:player_cards].each do |card|%>
  <%=card_image(card)%>
<%end%>
</div>
<%end%>

<%if @play_again%>
<form action = '/new_game' method ='post'>
<input type ='submit' value ='PLAY AGAIN' class ='btn  btn-success btn-medium' name ='new_game'>
</form>
<%end%>   

<%if @dealer_turn_button%>
<form action = '/dealer_turn' method ='post' id = 'dealer_turn' class = ''>
<input type ='submit' value ='DEALER TURN' class ='btn btn-info btn-medium' name ='dealer_turn'>
</form>
<%end%>

<%if @show_hit_or_stay_buttons%>
<form action = '/hit' method ='post' id = 'hit' class = ''>
<input type ='submit' value ='HIT' class ='btn btn-success btn-medium' name ='hit'>
</form>
<form action = '/stay' method ='post' id = 'stay' class = ''>
<input type ='submit' value ='STAY' class ='btn btn-success btn-medium' name ='stay'>
</form>
<%end%>
    
    <%if @loser%>
      <div class="alert alert-error"><%=@loser%></div>
    <% end %>
    <%if @winner%>
      <div class="alert alert-success"><%=@winner%></div>
    <% end %>
</div>

