<h4>Hi <%=session[:player_name]%></h4>

Your cards are:
<ul>
<%session[:player_cards].each do |card|%>
  <li> <%=card.to_s%> </li>
<%end%>
</ul>
<br>
The dealer has:

<ul>
<%session[:dealer_cards].each do |card|%>
  <li><%=card.to_s%></li>
<%end%>
</ul>

Your total is <%=calculate_total(session[:player_cards])%><br>
The dealer has <%=calculate_total(session[:dealer_cards])%><br>
<br>
<%if @time_to_bet == false%>
Your bet is $<%=session[:bet_amount].to_s%>.
<%end%>

<%if @show_player_account%>
You have $<%=session[:player_account]%> in the bank.
<%end%>

<%if @time_to_bet%>
You have $<%=session[:player_account]%> in the bank.
Your current bet is <%=session[:bet_amount]%>
<form action = '/bet2' method ='post'>
  New Bet Amount:<input type ='text' class = 'hitform inputname' name ='bet_amount'/>
<br/>
<input type ='submit' class ='hitform btn btn-small btn-success'>
</form>
<%end%>

<%if @dealer_turn_button%>
Click next for the dealers turn
<form action = '/dealer_turn' method ='post' id = 'dealer_turn' class = 'hitform'>
<input type ='submit' value ='Next' class ='btn btn-success btn-small' name ='dealer_turn'>
</form>
<%end%>

<%if @show_hit_or_stay_buttons%>
What would you like to do?
<form action = '/hit' method ='post' id = 'hit' class = 'hitform'>
<input type ='submit' value ='hit' class ='btn btn-success btn-small' name ='hit'>
</form>

<form action = '/stay' method ='post' id = 'stay' class = 'hitform'>
<input type ='submit' value ='stay' class ='btn btn-success btn-small' name ='stay'>
</form>
<%end%>

