<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
              <%if @new_game_button%>
<li><form action = '/new_game' method ='post' id = 'new_game' class = 'hitform new_game'>
<input type ='submit' value ='PLAY AGAIN' class ='btn btn-success btn-small' name ='new_game'>
</form></li>
<%end%>   

<%if @new_player_button%>
<li><form action = '/new_player' method ='post' id = 'new_player' class = 'hitform'>
<input type ='submit' value ='NEW PLAYER' class ='btn btn-success btn-small' name ='new_player'>
</form></li>
<%end%>
            </ul>
            <div class="nav navbar-nav navbar-right bank"> 
            Cash: $<%=session[:player_account]%>  Bet: $<%=session[:bet_amount]%>
          </div>

        </div>
      </div>
    </div>

  <div class="container">
    <%= yield %>
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <%if @success%>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
  </div>
  </body>

</html>

